@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap&subset=cyrillic-ext);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #000;
  line-height: 1;
  font-family: Montserrat,sans-serif;
  font-size: .875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Montserrat,sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
* {
  -webkit-tap-highlight-color: transparent
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 71.25rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.button {
  display: inline-flex;
  padding: 1.0625rem 1.875rem;
  color: #fff;
  background-color: #d7b399;
  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: .03em;
  text-transform: uppercase;
  text-align: center;
  transition: background-color .3s ease 0s
}
.button--fw {
  width: 100%
}
.button_arrow {
  -webkit-column-gap: .5625rem;
  -moz-column-gap: .5625rem;
  column-gap: .5625rem
}
.button_arrow::after {
  content: "";
  flex: 0 0 1.3125rem;
  min-width: 1.3125rem;
  height: .5rem;
  background: url(../img/arrow.svg) 0 0 no-repeat
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: .3125rem
}
.menu__link {
  font-weight: 500;
  line-height: 1.2142857143;
  letter-spacing: .03em
}
.icon-menu {
  display: none
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.header {
  background-color: #f9f6f1
}
.header__container {
  min-height: 8.75rem;
  padding-top: .625rem;
  padding-bottom: .625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-column-gap: .3125rem;
  -moz-column-gap: .3125rem;
  column-gap: .3125rem
}
.header__logo {
  display: flex;
  align-items: center;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem
}
.header__image {
  flex: 0 0 2.5rem;
  min-width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center
}
.header__image img {
  max-width: 100%;
  max-height: 2.5rem
}
.header__title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2083333333;
  letter-spacing: .05em;
  text-transform: uppercase
}
.cart {
  display: flex;
  align-items: center;
  -webkit-column-gap: .328125rem;
  -moz-column-gap: .328125rem;
  column-gap: .328125rem
}
.cart__count {
  font-size: .75rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: .03em;
  color: #fff;
  padding-right: .8125rem;
  background: #d7b399;
  display: flex;
  align-items: center;
  -webkit-column-gap: .8125rem;
  -moz-column-gap: .8125rem;
  column-gap: .8125rem
}
.cart__count::before {
  background-color: #f9f6f1;
  content: "";
  border: .5rem solid transparent;
  border-right: .9375rem solid #d7b399
}
.promo__content {
  padding-top: 4.75rem;
  padding-bottom: 8.375rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start
}
.promo__body {
  padding-top: 2.125rem;
  flex: 0 1 50%
}
.promo__title {
  font-size: 1.875rem;
  line-height: 1.2333333333;
  letter-spacing: .02em
}
.promo__title:not(:last-child) {
  margin-bottom: 1.625rem
}
.promo__text {
  font-size: 3.4375rem;
  font-weight: 700;
  line-height: 1.2181818182;
  letter-spacing: .04em;
  text-transform: uppercase
}
.promo__text:not(:last-child) {
  margin-bottom: .6909090909em
}
.promo__button {
  align-self: flex-start
}
.promo__image {
  position: relative;
  flex: 0 1 50%
}
.promo__image img {
  max-width: 100%
}
.price {
  position: absolute;
  top: 10%;
  right: 0;
  text-align: right;
  text-transform: uppercase
}
.price__old {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2083333333;
  letter-spacing: .05em;
  text-decoration: line-through
}
.price__old:not(:last-child) {
  margin-bottom: .7083333333em
}
.price__new {
  font-size: 2.625rem;
  font-weight: 700;
  line-height: 1.2142857143;
  letter-spacing: .02em;
  color: #d84033
}
.free-shiping {
  background: #212121
}
.free-shiping__content {
  padding: 5rem 0 4.3125rem 0;
  text-align: center
}
.free-shiping__title {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 1.2333333333;
  letter-spacing: .02em;
  text-transform: uppercase;
  color: #fff
}
.free-shiping__title:not(:last-child) {
  margin-bottom: .7666666667em
}
.free-shiping__title span {
  font-weight: 400
}
.free-shiping__text {
  font-weight: 300;
  font-size: 1.3125rem;
  color: #fff;
  line-height: 1.2380952381
}
.collections {
  background-color: #f9f6f1
}
.collections__items {
  display: flex;
  flex-wrap: wrap
}
.collections__item {
  flex: 0 1 50%
}
.collection {
  padding: 3.75rem .9375rem 0 1.25rem;
  display: flex;
  -webkit-column-gap: 1.125rem;
  -moz-column-gap: 1.125rem;
  column-gap: 1.125rem
}
.collection__title {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2083333333;
  letter-spacing: .03em;
  text-transform: uppercase
}
.collection__title span {
  font-weight: 300
}
.collection__title:not(:last-child) {
  margin-bottom: .8333333333em
}
.collection__text {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.25
}
.collection__text:not(:last-child) {
  margin-bottom: 2.125em
}
.collection__button {
  padding-top: .6875rem;
  padding-bottom: .6875rem
}
.collection__image {
  align-self: flex-end;
  margin-top: 1.25rem;
  flex: 0 0 11.875rem;
  min-width: 11.875rem;
  height: 10.6875rem;
  display: flex;
  align-items: flex-end;
  justify-content: center
}
.collection__image img {
  max-width: 100%;
  max-height: 100%
}
.new-models__content {
  padding-top: 9.375rem;
  padding-bottom: 9.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 6.25rem
}
.new-models__title {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.2222222222;
  letter-spacing: .04em;
  text-transform: uppercase;
  text-align: center
}
.new-models__items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -.9375rem;
  row-gap: 1.875rem
}
.new-models__item {
  flex: 0 1 25%;
  padding: 0 .9375rem
}
.new-models__button {
  align-self: center;
  align-items: center;
  padding-left: 2.125rem;
  padding-right: 2.125rem
}
.model {
  padding: 1.5625rem 1.5625rem 1.5625rem 1.5625rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.5625rem;
  align-items: center;
  text-align: center;
  position: relative
}
.model::after,
.model::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1.5625rem
}
.model::before {
  top: 0;
  left: 0;
  background: url(../img/new-models/icons/decor-top.svg) 0 0 no-repeat
}
.model::after {
  content: "";
  bottom: 0;
  left: 0;
  background: url(../img/new-models/icons/decor-bottom.svg) 0 0 no-repeat
}
.model__image {
  flex: 0 0 13.1875rem;
  min-width: 12.8125rem;
  height: 13.1875rem;
  display: flex;
  align-items: flex-end;
  justify-content: center
}
.model__image img {
  max-width: 100%;
  max-height: 100%
}
.model__body {
  display: flex;
  flex-direction: column;
  row-gap: .5625rem
}
.model__title {
  font-weight: 600;
  line-height: 1.2142857143;
  max-width: 7rem
}
.model__price {
  color: #d7b399;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.2222222222;
  text-transform: uppercase
}
@media (min-width:120em) {
  .menu__list {
    -webkit-column-gap: 3.25rem;
    -moz-column-gap: 3.25rem;
    column-gap: 3.25rem
  }
}
@media (max-width:48em) {
  .menu__list {
    -webkit-column-gap: .625rem;
    -moz-column-gap: .625rem;
    column-gap: .625rem
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 3.125rem .9375rem .9375rem 1.875rem;
    transition: left .3s
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 2
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #000
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
}
@media (max-width:47.99875em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (min-width:48em)and (max-width:120em) {
  @supports ((-moz-column-gap:clamp(0.625rem ,-1.125rem + 3.6458333333vw ,3.25rem)) or (column-gap:clamp(0.625rem ,-1.125rem + 3.6458333333vw ,3.25rem))) {
    .menu__list {
      -webkit-column-gap: clamp(.625rem ,-1.125rem + 3.6458333333vw ,3.25rem);
      -moz-column-gap: clamp(.625rem ,-1.125rem + 3.6458333333vw ,3.25rem);
      column-gap: clamp(.625rem ,-1.125rem + 3.6458333333vw ,3.25rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(0.625rem ,-1.125rem + 3.6458333333vw ,3.25rem)) or (column-gap:clamp(0.625rem ,-1.125rem + 3.6458333333vw ,3.25rem))) {
    .menu__list {
      -webkit-column-gap: calc(.625rem + 2.625*(100vw - 48rem)/ 72);
      -moz-column-gap: calc(.625rem + 2.625*(100vw - 48rem)/ 72);
      column-gap: calc(.625rem + 2.625*(100vw - 48rem)/ 72)
    }
  }
}
@media (any-hover:hover) {
  .button:hover {
    background-color: #9c816d
  }
}